.vs/cmake.db
.vs/GamingCPU_Project/DesignTimeBuild/.dtbcache.v2
.vs/GamingCPU_Project/FileContentIndex/4f84ed90-c50d-4726-b10c-1d7e548bb89e.vsidx
.vs/GamingCPU_Project/FileContentIndex/6d0a325c-d0a4-4cff-ab96-5d73cb4d18c5.vsidx
.vs/GamingCPU_Project/FileContentIndex/caf5f7a6-3def-437b-905d-6e7110393ff0.vsidx
.vs/GamingCPU_Project/FileContentIndex/ef883ce9-011a-452f-b29d-4fb7a3149c2d.vsidx
.vs/GamingCPU_Project/FileContentIndex/read.lock
.vs/GamingCPU_Project/v17/.futdcache.v2
.vs/GamingCPU_Project/v17/.suo
.vs/GamingCPU_Project/v17/Browse.VC.db
.vs/GamingCPU_Project/v17/Browse.VC.db-shm
.vs/GamingCPU_Project/v17/Browse.VC.db-wal
.vs/GamingCPU_Project/v17/Browse.VC.opendb
.vs/GamingCPU_Project/v17/Solution.VC.db
.vs/GamingCPU_Project/v17/Solution.VC.db-shm
.vs/GamingCPU_Project/v17/Solution.VC.db-wal
.vs/GamingCPU_Project/v17/ipch/AutoPCH/411ed5e46d6d03f7/EXE_WWINMAIN.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/44119da8249ffa72/BCG16CPU.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/a7a78131bbae0ba4/MAIN.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/aea67809bde42668/BCG16CPUEMULATOR.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/b3bff1b8eb5545b1/BCG16CPUEMULATOR.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/c0a49946cc6b43b6/EXE_COMMON.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/c26ad18374d71d0/TEST.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/e95136bda18ce96e/MEMORY.ipch
.vs/GamingCPU_Project/v17/ipch/AutoPCH/f3ec532ec95a23d3/MEMORY.ipch
.vs/ProjectEvaluation/gamingcpu_project.metadata.v7.bin
.vs/ProjectEvaluation/gamingcpu_project.projects.v7.bin
.vscode/settings.json
.vs/GamingCPU_Project/FileContentIndex/16d64fac-2152-48a3-827e-2fcf3b429b09.vsidx
.vs/GamingCPU_Project/FileContentIndex/72b2b0fd-b327-474b-a7d2-8b52ee389a9c.vsidx
.vs/GamingCPU_Project/FileContentIndex/0415d889-6bbc-4f91-9ad3-8f9553d8d25a.vsidx
.vs/GamingCPU_Project/FileContentIndex/922ed8bd-0005-408d-81f8-75cbc921e11e.vsidx
